#data
data/
  .gitignore
  Aeroplanes/
      .gitkeep
  Birds/
      .gitkeep
  Drones/
      .gitkeep

data_split/

# Making sure the data is secure 
*.jpg
*.jpeg
*.png
*.svg

# Weights 
*.h5
*.keras

# Jupyter

.ipynb_checkpoints/
.jupyter/

# macOs
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDE
.vscode/
.idea

#logs
logs/
*.log