```ignore
# Data
data/*
!data/**/
!data/**/.gitkeep

data_split/


# Making sure the data is secure 
*.jpg
*.jpeg
*.png
*.svg
*.webp
*.db
# Weights 
*.h5
*.keras
!final_model.keras

# Jupyter

.ipynb_checkpoints/
.jupyter/

# macOs
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDE
.vscode/
.idea

# logs
logs/
*.log
```